

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>Fasyl Log</title>-->
<!---->
<!---->
<!--</head>-->

<!--<body>-->
<!--  &lt;!&ndash; Static navbar &ndash;&gt;-->
<!--  <nav class="navbar navbar-default navbar-static-top">-->
<!--    <div class="container">-->

<!--      <div class="navbar-header">-->
<!--        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
<!--        </button>-->
<!--        <a class="navbar-brand" href="{% url 'employee_logs:index' %}"> Your Logs</a>-->
<!--      </div>-->

<!--      <div id="navbar" class="navbar-collapse collapse">-->
<!--              <ul class="nav navbar-nav navbar-right">-->
<!--              {% if user.is_authenticated %}-->
<!--              <li><a href="{% url 'employee_logs:main_tasks' %}">Task</a></li>-->
<!--              <li><a>Hello, {{ user.username }}.</a></li>-->
<!--              <li><a href="{% url 'users:logout' %}">log out</a></li>-->
<!--              {% else %}-->
<!--              <li><a href="{% url 'users:register' %}">register</a></li>-->
<!--              <li><a href="{% url 'users:login' %}">log in</a></li>-->
<!--              {% endif %}-->
<!--          </ul>-->
<!--      </div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->

<!--    </div>-->
<!--  </nav>-->
<!--</body>-->


<p>
    <h1> <a href="{% url 'employee_logs:index' %}">Your Log</a></h1>

    {% if user.is_authenticated %}
      <a href="{% url 'employee_logs:main_tasks' %}"> Tasks </a> <br>
     <h2> Hello, {{ user.username }}</h2>
      <a href="{% url 'users:logout' %}"> log out</a>
    {% else %}
      <a href="{% url 'users:register' %}">register</a>
      <a href="{% url 'users:login' %}"> log in </a>
    {%endif%}
</p>

{% block content %}

{% endblock content %}


