{% extends "employee_logs/base.html" %}

{% block content %}
    <p>
        <a href="{% url 'employee_logs:sub_task' task.id %}">{{topic }}</a>
    </p>

    <p>Edit Activity</p>
    <form action="{% url 'employee_logs:edit_sub_task' entry.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">save changes</button>

    </form>

{% endblock content %}