{% extends "employee_logs/base.html" %}


{% block content %}
   <h3>Welcome to Task Log.</h3>

{% if user.is_authenticated %}
  <h3>click on Task in the menu to get started</h3>
{% else %}
  <h3>Log In or<a href="{% url 'users:register' %}"> <i> Register an Account </i> </a>
    to make your own log</h3>
{%endif%}

{% endblock content %}