{% extends "employee_logs/base.html" %}

{% block content %}

<p> Tasks Name </p>
    <ul type="none">
        {% for task in main_tasks %}
          <li>
              <a href="{% url 'employee_logs:sub_task' task.id %}">{{ task }}  </a>
              <p> Start Date {{ task.date|date:'M d, Y H:i' }}</p>
              <hr>
          </li>
        {% empty %}
          <li>No tasks have been added yet. </li>
        {% endfor %}
    </ul>
<a href="{% url 'employee_logs:new_main_task' %}">add a new task </a>
{% endblock content %}