{% extends "employee_logs/base.html" %}


{% block content %}
    <p>Add new Task: </p>
    <form action="{%url 'employee_logs:new_main_task'%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button name="submit">add </button>

    </form>
{% endblock content  %}