{% extends "employee_logs/base.html" %}

{% block content %}
    <p>Topic: {{ task }}</p>

    <p>Entries: </p>
    <a>add a new entry</a>


    <ul>
        {% for entry in entries %}
          <li>
              <p>{{ entry.date|date:'M d, Y H:i' }}</p>
              <p>{{ entry.text|linebreaks }}</p>
              <a href="{% url 'employee_logs:edit_sub_task' entry.id %}">Edit</a>
          </li>
        {% empty %}
          <li>
              there are no entries for this topic yet.
          </li>
        {% endfor %}
    </ul>

{% endblock content %}