{% extends "employee_logs/base.html" %}


{% block content %}
    {% if form.errors %}
    <p> Your User Name or pass word did not match. Please try again. </p>
    {% endif %}

    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token  %}
        {{ form.as_p }}

        <button name="submit"> login </button>
        <input type="hidden" name="next" value="{% url 'employee_logs:index' %}">
    </form>
{% endblock content %}