{% extends "employee_logs/base.html" %}


{% block content %}

    <form method="post" action="{% url 'users:register' %}">
       {% csrf_token %}
       {{ form.as_p }}

        <button name="submit">register</button>
        <input type="hidden" name="next" value="{% url 'employee_logs:index' %}" />
    </form>

{% endblock content %}